@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg
           focus:outline-none focus:ring-2 focus:ring-black;
  }
}

/* Navbar active link (desktop) */
.nav-link.active::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  margin-top: 6px;
}

/* Mobile active link */
@media (max-width: 640px) {
  .nav-link.active {
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 6px 10px;
  }
}
